<hello name="{{ name }}"></hello>
<p>
  This is my first attempt using stackblitz + github :)
</p>
<p>
  Now trying to iterate through an array of programming languages!
</p>
<div *ngFor='let lang of langs'>  
  {{lang}} 
</div>
<p></p>
<div>
  {{msg}}
</div>
<p>
  now with a form maybe?
</p>
<form>
 <label>What's your name? </label>

 <input id='user' name='username' type='text' placeholder='Select your name' list='names' autocomplete="off"/>
 <datalist id="names">
   <option value="Kirita">
   <option value="yoqsetiu">
 </datalist>
</form>